<app-header></app-header>

<div class="page-title">
  <small>Spring e Java</small>
  <h1>Linguagens de desenvolvimento back-end em sistemas web</h1>
</div>

<div class="content">
  <div *ngFor="let conteudo of conteudos" class="conteudo-section">
    <h2>{{ conteudo.titulo }}</h2>
    <p *ngIf="conteudo.link; else noLinkDesc">
      <a [href]="conteudo.link" target="_blank">{{ conteudo.texto }}</a>
    </p>
    <ng-template #noLinkDesc>
      <p>{{ conteudo.texto }}</p>
    </ng-template>
    <div *ngIf="conteudo.lista" class="card-container">
      <div *ngFor="let item of conteudo.lista" class="card">
        <h3>{{ item.listaItem }}</h3>
        <p>
          <ng-container *ngIf="item.link; else noLinkItem">
            <a [href]="item.link" target="_blank">{{ item.textoItem }}</a>
          </ng-container>
          <ng-template #noLinkItem>
            {{ item.textoItem }}
          </ng-template>
        </p>
      </div>
    </div>
  </div>
</div>